*{
    font-family: 'Times New Roman';
    text-align: center;
    line-height: -100%;
}
h1{
    text-align: center;
    line-height: 130%;
}
p{
    line-height: 90%;
    margin-right: 40%;
    text-align: center ;
    padding-left: 7%;
}
.cosito{
    line-height: 0%;
}
h2{
    margin-right: 30%;
    margin-bottom: 10px;

}
.grid{
    display: grid;
    grid-template-rows: min-content;
    line-height: 0% ;
}
.titulo1{
    margin-right: 50%;
}
.titulo2{
    margin-right: 57%;
}
.titulo3{
    margin-left: 5%;
}
.titulo4{
    margin-right: 38%;
}
@font-face {
    font-family:'liberation serif' ;
    src: url(../font/LiberationSerif-Regular.ttf);
}